<!--
<a href="url">Title</a> -->
<h1 class = "blogpage">Blog Entries by Date</h1>
<div id ="blogdiv">
<% @posts.each do |post| %>
     <!-- <li class ="links" ><a class="posttitle" href= "<%= post.url %>"><%= post.title %></a></li>
     <li class ="links"><a class="postdate" href= "<%= post.url %>"><%= post.date %></a></li> -->
     <p class="posttext"><%= post.post %></p>
     <a class ="fulltext" href="<%= post.url %>">Read Full Post</a>
<% end %>
</div>
